@using EECIP.App_Logic.DataAccessLayer
@model EECIP.Models.vmDashboardIndex
<section class="panel panel-default ">
    <div class="panel-heading">
        <i class="fa-e clip-grid-4"></i> Badge Progress
        <div class="panel-tools">
            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="badgeholder">
                    <div class="publicbadgeline" style="width:100%">
                        @for (int i = 0; i < 6; i++)
                        {
                            <div class="publicbadge col-md-2 col-sm-4 tooltips col-xs-6" data-original-title="@Model.UserBadges[i]._Badge.Description">
                                <img src="/Content/Images/badges/@(Model.UserBadges[i]._Badge.Image)" alt="@Model.UserBadges[i]._Badge.DisplayName" class="@(Model.UserBadges[i].UserEarnedInd ? "fff" : "grey")">
                                <p class="publicbadgenamedesc">@Model.UserBadges[i]._Badge.DisplayName</p>
                                @if (Model.UserBadges[i].EarnedDate.HasValue)
                                {

                                    <p class="publicbadgeawards" style="color:green"><b>Awarded @(Model.UserBadges[i].EarnedDate.HasValue ? Model.UserBadges[i].EarnedDate.Value.ToShortDateString() : "")</b></p>
                                }
                                else
                                {
                                    <p class="publicbadgeawards">Not Awarded</p>
                                }
                            </div>
                        }
                    </div>


                    <div id="collapseThree" class="publicbadgeline panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="width:100%">
                        @for (int i = 6; i < Model.UserBadges.Count; i++)
                        {
                            <div class="publicbadge col-md-2 col-sm-4 tooltips col-xs-6" data-original-title="@Model.UserBadges[i]._Badge.Description">
                                <img src="/Content/Images/badges/@(Model.UserBadges[i]._Badge.Image)" alt="@Model.UserBadges[i]._Badge.DisplayName" class="@(Model.UserBadges[i].UserEarnedInd ? "fff" : "grey")">
                                <p class="publicbadgenamedesc">@Model.UserBadges[i]._Badge.DisplayName</p>
                                @if (Model.UserBadges[i].EarnedDate.HasValue)
                                {

                                    <p class="publicbadgeawards" style="color:green">Awarded @(Model.UserBadges[i].EarnedDate.HasValue ? Model.UserBadges[i].EarnedDate.Value.ToShortDateString() : "")</p>
                                }
                                else
                                {
                                    <p class="publicbadgeawards">Not Awarded</p>
                                }
                            </div>
                        }
                    </div>



                </div>

            </div>


        </div>



    </div>


    <div class="panel-footer" style="background-color:lightgrey">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Show/Hide
        </a>
    </div>
</section>

