@using EECIP.App_Logic.BusinessLogicLayer
@model EECIP.Models.vmDashboardIndex
@{
    ViewBag.Title = "Welcome " + Model.UserName + "!";
    ViewBag.SubSubTitle = "A community platform for environmental agency staff to learn and collaborate on projects about business process, IT, advanced monitoring and more.";
    ViewBag.ShowBadge = true;
    ViewBag.BadgeCount = Model.UserBadgeEarnedCount;
    ViewBag.ShowTour = true;
}

@if (!string.IsNullOrEmpty(Model.Announcement))
{
    <div class="alert alert-block alert-warning fade in">
        <button data-dismiss="alert" class="close" type="button">×</button>
        @Html.Raw(HttpUtility.HtmlDecode(Model.Announcement))
    </div>
}

<div class="row">
    <div class="col-sm-3 col-xs-6" id="btnSearchParent">
        <button onclick="location.href='@Url.Action("Search", "Dashboard")';return false;" class="btn btn-icon btn-block" id="btnSearch">
            <i class="clip-search"></i>
            Search the Inventory
            <div class="badge badge-new">
                <div class="carousel slide carousel-fade inline auto aside text-left pull-left pull-none-xs" data-interval="3000" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            @Model.ProjectCount Projects
                        </div>
                        <div class="item ">
                            @Model.DiscussionCount  Discussions
                        </div>
                        <div class="item ">
                            @Model.AgencyCount Agencies
                        </div>
                        <div class="item">
                            @Model.GovernanceCount Governance Projects
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>
    @if (Model.ProjectsNeedingReviewCount > 0)
    {
        <div class="col-sm-3 col-xs-6" id="btnReviewParent">
            <button onclick="location.href='@Url.Action("ProjectReview", "Dashboard")';return false;" class="btn btn-icon btn-block" style="background-color:#e07a84" id="btnReview">
                <i class="clip-warning"></i>
                Projects Needing Review<span class="badge badge-danger"> @Model.ProjectsNeedingReviewCount </span>
            </button>
        </div>
    }
    <div class="col-sm-3 col-xs-6" id="btnAddProjectParent">
        <button onclick="location.href='@Url.Action("Projects", "Dashboard")';return false;" class="btn btn-icon btn-block">
            <i class="clip-file-3"></i>
            Add a New Project
        </button>
    </div>
    <div class="col-sm-3 col-xs-6" id="btnAddQuestionParent">
        <button onclick="location.href='@Url.Action("Index", "Forum")';return false;" class="btn btn-icon btn-block">
            <i class="clip-question"></i>
            Ask a Question
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default ">
            <div class="panel-heading">
                Recent Items Matching Your Subscriptions

                <div class="panel-tools">
                    @Html.DropDownListFor(model => model.selSub, Model.ddl_Subscriptions, "", new { @class = "btn-xs", @onchange = "document.location.href = '/Dashboard/Index?selSub=' + this.options[this.selectedIndex].value;" })

                    <a id="lnkSubscriptions" href="@Url.Action("Subscriptions", "Account")" class="btn btn-rounded btn-xs btn-eecip"><i class="glyphicon glyphicon-cog"></i> Edit Subscriptions</a>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        @if (Model.LatestProjects != null && Model.LatestProjects.Count > 0)
                        {
                        <h3 style="margin-top:0px;">Recent Projects <span style="font-size:75%; color:#6d6d6d">@(Model.LatestProjects[0].TagMatch == true ? "(matching your subscriptions)" : "")</span></h3>
                        }
                        <!--  **************  MOST RECENT PROJECTS **************************************-->
                        <div class="table-responsive">
                            <table class="table table-hover table-striped m-b-none table-bordered" data-ride="datatables">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th></th>
                                        <th>Project Name</th>
                                        <th>Agency</th>
                                        <th>Last Updated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.LatestProjects != null)
                                    {
                                    foreach (var item in Model.LatestProjects)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("ProjectCard", "Dashboard", new { strid = item.PROJECT_IDX })" class="btn btn-rounded btn-xs btn-eecip"><i class="glyphicon glyphicon-info-sign"></i> Info</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PROJ_NAME)
                                                @if (item.Tags != null)
                                                {
                                                    foreach (var subitem in item.Tags)
                                                    {
                                                    <span class="label label-default" style="background-color: #007AFF !important; font-size: 9.35px !important;"> @Html.DisplayFor(modelItem => subitem)</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ORG_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LAST_ACTIVITY_DATE)
                                            </td>
                                        </tr>
                                    }}
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <h3 style="margin-top:0px;">
                            Recent Discussion Topics <span style="font-size:75%; color:#6d6d6d">@(Model.TopicMatchInd == true ? "(matching your subscriptions)" : "")</span>
                        </h3>

                        <!--  **************  LATEST DISCUSSIONS **************************************-->
                        @if (Model.LatestTopics != null && Model.LatestTopics.Count > 0)
                        {
                            <section class="panel panel-default ">
                                <div class="panel-body">
                                    @foreach (var item in Model.LatestTopics)
                                    {
                                        <div class="topicrow" style="padding: 5px;">
                                            <div class="rowcreater hidden-xs">
                                                <a href="@Url.Action("UserCard", "Dashboard", new { strid = item.SP_RECENT_FORUM_BY_USER_TAG_Result.TopicUserIDX })">
                                                    <div class="circle-tile-heading" style="display:inline-grid; background-image:url(/Content/Images/Users/@(item.SP_RECENT_FORUM_BY_USER_TAG_Result.TopicUserIDX).png)">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="rowdetails" style="margin-left:90px;">
                                                <h3>
                                                    <a title="#" href="@Url.Action("ShowTopic", "Forum", new { slug = item.SP_RECENT_FORUM_BY_USER_TAG_Result.Slug })" style="font-size:18px;">
                                                        @Html.Raw(item.SP_RECENT_FORUM_BY_USER_TAG_Result.Name)
                                                    </a>
                                                </h3>

                                                @Utils.ReturnAmountWordsFromString(Utils.StripHtmlFromString(item.SP_RECENT_FORUM_BY_USER_TAG_Result.PostContent), 50)
                                                @if (item.tags != null)
                                                {
                                                    foreach (var _tag in item.tags)
                                                    {
                                                    <span class="label label-default" style="background-color: #007AFF !important; font-size: 9.35px !important;"> @Html.DisplayFor(modelItem => _tag)</span>
                                                    }
                                                }
                                                <p class="topicrowfooterinfo">
                                                    Latest By
                                                    <a href="@Url.Action("UserCard", "Dashboard", new { strid = item.SP_RECENT_FORUM_BY_USER_TAG_Result.LatestPostUserIDX })">@item.SP_RECENT_FORUM_BY_USER_TAG_Result.LatestPostUser</a>
                                                    @EECIP.App_Logic.BusinessLogicLayer.Utils.GetPrettyDate(item.SP_RECENT_FORUM_BY_USER_TAG_Result.LatestPostDate.ToString())
                                                </p>

                                            </div>
                                        </div>
                                    }
                                </div>
                            </section>

                        }


                    </div>
                </div>

            </div>
        </section>
    </div>
</div>



<!--  **************  MOST ACTIVE USERS **************************************-->
<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default ">
            <div class="panel-heading">
                Most Active Users (all time)
                <div class="panel-tools">
                    <a href="@Url.Action("Leaderboard", "Dashboard")" class="btn  btn-xs btn-eecip"><i class="glyphicon glyphicon-star-empty"></i> Full Leaderboard</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="badgeholder">
                            <div class="publicbadgeline" style="width:100%">
                                @for (int i = 0; i < 6; i++)
                                {
                                    if (@Model.UserPointLeaders.Count > i)
                                    {
                                        <div class="publicbadge col-md-2 col-sm-4 tooltips col-xs-6" data-original-title="@(Model.UserPointLeaders[i]._User.FNAME + " " + Model.UserPointLeaders[i]._User.LNAME)">
                                            <a href="/Dashboard/UserCard?strid=@Model.UserPointLeaders[i]._User.USER_IDX" style="height:82px;display:block;">
                                                <div class="circle-tile-heading" style="display:inline-grid; background-image:url(/Content/Images/Users/@(Model.UserPointLeaders[i]._User.USER_IDX).png)">
                                                </div>
                                            </a>
                                            <p class="publicbadgenamedesc">
                                                @Model.UserPointLeaders[i]._User.FNAME @Model.UserPointLeaders[i]._User.LNAME
                                            </p>
                                            <p class="publicbadgeawards">
                                                @Model.UserPointLeaders[i].UserPoints points
                                            </p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default ">
            <div class="panel-heading">
                Most Active Users (past month)
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="badgeholder">
                            <div class="publicbadgeline" style="width:100%">
                                @for (int i = 0; i < 6; i++)
                                {
                                    if (@Model.UserPointLeadersMonth.Count > i)
                                    {
                                        <div class="publicbadge col-md-2 col-sm-4 tooltips col-xs-6" data-original-title="@(Model.UserPointLeadersMonth[i]._User.FNAME + " " + Model.UserPointLeadersMonth[i]._User.LNAME)">
                                            <a href="/Dashboard/UserCard?strid=@Model.UserPointLeadersMonth[i]._User.USER_IDX" style="height:82px;display:block;">
                                                <div class="circle-tile-heading" style="display:inline-grid; background-image:url(/Content/Images/Users/@(Model.UserPointLeadersMonth[i]._User.USER_IDX).png)">
                                                </div>
                                            </a>
                                            <p class="publicbadgenamedesc">
                                                @Model.UserPointLeadersMonth[i]._User.FNAME @Model.UserPointLeadersMonth[i]._User.LNAME
                                            </p>
                                            <p class="publicbadgeawards">
                                                @Model.UserPointLeadersMonth[i].UserPoints points
                                            </p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<!-- START MODAL -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 class="modal-title">View Badge Progress</h3>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="badgeholder">
                            <div class="publicbadgeline aligned-row" style="width:100%">

                                @foreach (var item in Model.UserBadges)
                                {
                                    <div class="publicbadge col-md-2 col-sm-4 tooltips col-xs-6 aligned-row" data-original-title="@item._Badge.Description">
                                        <img src="/Content/Images/badges/@(item._Badge.Image)" alt="@item._Badge.DisplayName" class="@(item.UserEarnedInd ? "" : "grey")" style="margin:auto">
                                        <p class="publicbadgenamedesc">@item._Badge.DisplayName</p>
                                        @if (item.EarnedDate.HasValue)
                                        {
                                            <p class="publicbadgeawards" style="color:green"><b>Awarded @(item.EarnedDate.HasValue ? item.EarnedDate.Value.ToShortDateString() : "")</b></p>
                                        }
                                        else
                                        {
                                            <p class="publicbadgeawards">Not Awarded</p>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL FORM -->


@section Scripts {
    @Scripts.Render("~/bundles/introjs")

    <script>
        function startIntro() {
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {
                        element: '#btnSearchParent',
                        intro: "<h4>Search everything in one place!</h4>You can search the inventory here.  Each category of information has its own tab - Projects, Discussions, Agencies, and Governance. <br/><br/><br/>If you don't find what you are looking for, you can post a question at <b>Ask a Question.</b>"
                    },
                    {
                        element: '#btnReviewParent',
                        intro: "<h4>Help us update your agency projects</h4>Click here to view the projects for your agency that have either not been updated in 6-12 months or do not have a contact listed.</br></br>You can see the source for these on the right. You can also delete projects if you think they are not relevant by clicking the X."
                    },
                    {
                        element: '#btnAddProjectParent',
                        intro: "<h4>Tell us about your cool project!</h4>You can view, add, update and delete your agency projects here."
                    },
                    {
                        element: '#btnAddQuestionParent',
                        intro: "<h4>Ask a question or respond to one</h4>Ask a question about something you didn't find in your search, about a recommendation for the site, or to reach out to other agencies to get answers."
                    },
                    {
                        element: '#headBadge',
                        intro: "<h4>Social science says badges work.</h4>EECIP uses badges to keep track of contributions people make to the platform. Earn badges by participating in discussions, up-voting projects, updating your agency profile and more.</br></br>Suggest new badges or your ideas about them in the Discussion area."
                    },
                    {
                        element: '#liEditProfiles',
                        intro: "<h4>All your information is here.</h4>Here you can edit your individual user information and your agency information. The agency profile and projects includes your enterprise services, projects, and collaborative work going on at the governance and community level."
                    },
                    {
                        element: '#lnkSubscriptions',
                        position: "left",
                        intro: "<h4>Subscriptions</h4>Subscribe to topics and you will be notified (both on this dashboard and via email newsletter) when other agencies add content for that topic."
                    }

                ],
                showStepNumbers: false
            });

            intro.start();
        }
    </script>
}