@using EECIP.App_Logic.DataAccessLayer;
@model EECIP.Models.vmDashboardSearch
@{
    ViewBag.HideTitle = true;
    ViewBag.Title = "Browse or Search Content";
    ViewBag.SubTitle = "Find projects, agencies, people, or discussions that match your interests";
}

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { @class = "", @id = "norepostform"   }))
{

<!-- start: PAGE TITLE  -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 style="float: left; margin-right: 20px;">@ViewBag.Title</h1>
              <div class="input-group">
                    <span class="input-group-btn">
                        <a id="clearSearch" href="#" class="btn btn-danger" style="display:none">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                    @Html.TextBoxFor(model => model.searchStr, new { @class = "form-control", @id = "txtSearch", @name = "txtSearch", @placeholder = @ViewBag.SubTitle })
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <i class="clip-search-2"> </i>Search
                        </button>
                    </span>
                </div>
                <span class="help-block">
                    @if (Model.facetAgency != null)
                    {
                        <a href="javascript:void(0)" data-id2="Agency" class="removeFacet select2-selection__choice" style="margin-left:15px !important;"><b>X</b> @Model.facetAgency</a>
                    }
                    @if (Model.facetMedia != null)
                    {
                        <a href="javascript:void(0)" data-id2="Media" class="removeFacet select2-selection__choice" style="margin-left:15px !important;"><b>X</b> @Model.facetMedia</a>
                    }
                    @if (Model.facetRecordSource != null)
                    {
                        <a href="javascript:void(0)" data-id2="Record_Source" class="removeFacet select2-selection__choice" style="margin-left:15px !important;"><b>X</b> @Model.facetRecordSource</a>
                    }
                    @if (Model.facetTags != null)
                    {
                        <a href="javascript:void(0)" data-id2="Tags" class="removeFacet select2-selection__choice" style="margin-left:15px !important;"><b>X</b> @Model.facetTags</a>
                    }

                </span>
        </div>

    </div>
</div>
<!-- end: PAGE TITLE -->


@Html.HiddenFor(model => model.facetDataType)
@Html.HiddenFor(model => model.facetMedia)
@Html.HiddenFor(model => model.facetRecordSource)
@Html.HiddenFor(model => model.facetAgency)
@Html.HiddenFor(model => model.facetTags)

@Html.HiddenFor(model => model.activeTab)

<div class="row">
    @if (Model.searchResults != null) {
    <div id="leftFacets" class="col-sm-2" style="border-right-width:1px; border-right-style:solid; border-color:#ccc; min-height:500px; ">
        <div>
            <h3 style="margin-top:0px;">Data Filters</h3>
            @foreach (var item in Model.searchResults.Facets)
            {
                if (item.Key != "DataType")
                {
                <h4>@Html.DisplayFor(modelItem => item.Key).ToString().Replace("_", " ")</h4>
                <ul>
                    @foreach (var subitem in item.Value)
                    {
                        <li><a id="@Html.DisplayFor(modelItem => subitem.Value)" data-id2="Facet" href="@Html.DisplayFor(modelItem => item.Key)">@Html.DisplayFor(modelItem => subitem.Value) (@Html.DisplayFor(modelItem => subitem.Count))</a></li>
                    }
                </ul>
                }
            }            
        </div>
    </div>
    }




    <div id="job_details_div" class="@(Model.searchResults != null ? @Html.Raw("col-sm-10") : @Html.Raw("col-sm-12"))" >
        <div id="tabs" class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-blue">
                <li><a href="#tab1" data-toggle="tab">All</a></li>
                <li><a href="#tab2" data-toggle="tab">Projects
                    @if (Model.searchResults != null && Model.searchResults.Facets != null && Model.searchResults.Facets.FirstOrDefault(c => c.Key == "DataType").Value.FirstOrDefault(d => d.Value.ToString() == "Project") != null)
                    {
                        <span class="badge badge-eecip-bluegreen">@Model.searchResults.Facets.FirstOrDefault(c=> c.Key == "DataType").Value.FirstOrDefault(d=> d.Value.ToString() == "Project").Count</span>
                    }
                    </a>
                </li>
                <li><a href="#tab3" data-toggle="tab">People
                        @if (Model.searchResults != null && Model.searchResults.Facets != null && Model.searchResults.Facets.FirstOrDefault(c => c.Key == "DataType").Value.FirstOrDefault(d => d.Value.ToString() == "User") != null)
                        {
                            <span class="badge badge-eecip-bluegreen">@Model.searchResults.Facets.FirstOrDefault(c => c.Key == "DataType").Value.FirstOrDefault(d => d.Value.ToString() == "User").Count</span>
                        }
                    </a>
                </li>
                <li><a href="#tab4" data-toggle="tab">Agencies
                        @if (Model.searchResults != null && Model.searchResults.Facets != null && Model.searchResults.Facets.FirstOrDefault(c => c.Key == "DataType").Value.FirstOrDefault(d => d.Value.ToString() == "Agency") != null)
                        {
                            <span class="badge badge-eecip-bluegreen">@Model.searchResults.Facets.FirstOrDefault(c => c.Key == "DataType").Value.FirstOrDefault(d => d.Value.ToString() == "Agency").Count</span>
                        }
                    </a>
                </li>
                <li><a href="#tab5" data-toggle="tab">Governance</a></li>
                <li><a href="#tab6" data-toggle="tab">Discussion</a></li>
                <li class="pull-right"><a href="#" style="background-color: #FFF; border: 0px; font-weight: bold; font-size: 11px;">Record Count: @(Model.searchResults != null ? Model.searchResults.Count : 0)</a></li>
            </ul>
            <div class="tab-content" style="height:0px; padding: 0px;">
                <div class="tab-pane in active" id="tab1">
                    <!--  ************************************** TAB 1 CONTENT *********************************************************-->
                </div>
                <div class="tab-pane" id="tab2" >
                </div>
                <div class="tab-pane" id="tab3">
                </div>
                <div class="tab-pane" id="tab4">
                </div>
                <div class="tab-pane" id="tab5">
                </div>
            </div>



        </div>


        @if (Model.searchResults != null)
        {
            <div class="table-responsive">
                <table class="table table-striped m-b-none" data-ride="datatables">
                    <tr>
                        <th>Type</th>
                        <th>Agency</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Record Source</th>
                        <th>Media</th>
                        <th>Status</th>
                        <th>Tags</th>
                        <th>Score</th>
                    </tr>

                    @foreach (var item in Model.searchResults.Results)
                    {
                        <tr>
                            <td>
                                @if (item.Document.DataType == "Project")
                                {
                                    <a href="@Url.Action("ProjectCard", "Dashboard", new { strid = item.Document.KeyID })" class="label label-green" style="padding-top:15px !important; padding-bottom: 15px !important; padding-left: 5px !important; padding-right: 5px !important; display:inline-block; width:65px;"><i class="clip-info"></i> Project</a>
                                }
                                @if (item.Document.DataType == "Agency")
                                {
                                    <a href="@Url.Action("AgencyCard", "Dashboard", new { strid = item.Document.KeyID })" class="label label-primary btn-lg" style="padding-top:15px !important; padding-bottom: 15px !important; padding-left: 5px !important; padding-right: 5px !important; display:inline-block; width:70px;"><i class="clip-users-3"></i> Agency</a>
                                }
                                @if (item.Document.DataType == "Enterprise Service")
                                {
                                    <a href="@Url.Action("EnterpriseSvcCard", "Dashboard", new { strid = item.Document.KeyID })" class="label label-orange" style="padding-top:15px !important; padding-bottom: 15px !important; padding-left: 5px !important; padding-right: 5px !important; display:inline-block; width:65px;">Enterprise <br />Service</a>
                                }
                                @if (item.Document.DataType == "User")
                                {
                                    <a href="@Url.Action("UserCard", "Dashboard", new { strid = item.Document.KeyID })" class="label label-yellow" style="padding-top:15px !important; padding-bottom: 15px !important; padding-left: 5px !important; padding-right: 5px !important; display:inline-block; width:65px;"><i class="clip-user"></i> Person</a>
                                }
                                @if (item.Document.DataType == "Discussion")
                                {
                                    <a href="@Url.Action("Index", "Forum", new { strid = item.Document.KeyID })" class="label label-purple" style="padding-top:15px !important; padding-bottom: 15px !important; padding-left: 5px !important; padding-right: 5px !important; display:inline-block; width:65px;">Discussion</a>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Document.Agency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Document.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Document.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Document.Record_Source)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Document.Media)
                            </td>
                            <td></td>
                            <td>
                                @foreach (string tag in item.Document.Tags)
                                {
                                    <span class="select2-selection__choice">@Html.DisplayFor(modelItem => tag)</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Score)
                            </td>
                        </tr>
                    }
                </table>

                @if (Model.searchResults.Count > 50)
                {
                <ul class="pagination" id="pagination" style="margin:0px"></ul>
                }

            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h3>Latest Questions</h3>
                    <hr>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Most Liked Answers</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Newly Added Projects</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Most Active Users</h3>
                        <hr>
                    </div>
                </div>
            if (Model.active_agencies != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <h3>Most Active Agencies</h3>
                        <hr>

                        @foreach (T_OE_ORGANIZATION agency in Model.active_agencies)
                        {
                            <div class="col-md-3">
                                <div class="user-left">
                                    <div class="center" style="padding-bottom:20px">
                                        <div class="user-image">
                                            <img src="@Url.Content(String.Format("~/Content/Images/Agencies/{0}.png", agency.ORG_ABBR))" alt="logo" width="200px" />
                                        </div>
                                        <h4>@Html.Raw(agency.ORG_ABBR)</h4>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            }
        }








    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/autocomplete")
    @Scripts.Render("~/bundles/pagination")


    <script type="text/javascript">

        $(function () {
            var obj = $('#pagination').twbsPagination({
                totalPages: 35,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    console.info(page);
                }
            });
            console.info(obj.data());
        });
        //var businessTitleFacet, postingTypeFacet, salaryRangeFacet, sortType, currentPage;

        //function Search() {
        //    //$("#job_details_div").html("Loading...");
        //    var txtSearch = $("#txtSearch").val();
        //    $.post('/Dashboard/Search',
        //        {
        //            txtSearch: txtSearch//,
        //            // businessTitleFacet: businessTitleFacet
        //        },
        //        function (data) {
        //            UpdateFacet_Media(data.searchResults.Facets.Media);
        //            FacetDisplay(data.searchResults.Facets);
        //        });
        //}

        //function UpdateFacet_Media(data) {
        //    var facetResultsHTML = '';
        //    for (var i = 0; i < data.length; i++) {
        //        if (data[i].Value.length > 0) {
        //            facetResultsHTML += '<li><a href="javascript:void(0)" onclick="ChooseFacet_Media(\'' + data[i].Value + '\');">' + data[i].Value + ' (' + data[i].Count + ')</span></a></li>';
        //        }
        //    }
        //    $("#facet_media").html(facetResultsHTML);
        //}

        //function FacetDisplay(data) {
        //    $("#leftFacets").Show();

        //    if (data.length > 0)
        //    {
        //        $("#leftFacets").Show();
        //    }
        //}

        $(document).ready(function () {
            //focus on search bar
            $('#txtSearch').focus();

            //make left small
            if ($("#txtSearch").val().length > 0) {
                $('body').addClass("navigation-small");
            }

            //autocomplete
            new autoComplete({
                selector: 'input[name="searchStr"]',
                source: function (term, response) {
                    $.getJSON('/Admin/SearchAdminSuggest/', { term: term }, function (data) { response(data); });
                }
            });

            
            //tab handling
            $('.nav-tabs a[href="#tab' + $('#activeTab').val() + '"]').tab('show');             //do proper tab display from postback

            $('a[href="#tab1"]').on('shown.bs.tab', function (e) {
                $('#facetDataType').val('');
                $('#activeTab').val('1');
                $('#norepostform').submit();
            });

            $('a[href="#tab2"]').on('shown.bs.tab', function (e) {
                $('#facetDataType').val('Project');
                $('#activeTab').val('2');
                $('#norepostform').submit();
            });

            $('a[href="#tab3"]').on('shown.bs.tab', function (e) {
                $('#facetDataType').val('User');
                $('#activeTab').val('3');
                $('#norepostform').submit();
            });

            $('a[href="#tab4"]').on('shown.bs.tab', function (e) {
                $('#facetDataType').val('Agency');
                $('#activeTab').val('4');
                $('#norepostform').submit();
            });

            $('a[data-id2="Facet"]').click(function (e) {
                e.preventDefault();
                var _id = $(this).attr('id');
                var _facTyp = $(this).attr('href');
                if (_facTyp == "Media")
                    $('#facetMedia').val(_id);
                if (_facTyp == "Record_Source")
                    $('#facetRecordSource').val(_id);
                if (_facTyp == "Agency")
                    $('#facetAgency').val(_id);
                if (_facTyp == "Tags")
                    $('#facetTags').val(_id);

                //$('#facetDataType').val('Project');
                //$('#activeTab').val('2');
                $('#norepostform').submit();
            });

            $('.removeFacet').click(function (e) {
                e.preventDefault();
                var _facTyp = $(this).attr('data-id2');

                if (_facTyp == "Media") 
                    $('#facetMedia').val('');
                if (_facTyp == "Record_Source") 
                    $('#facetRecordSource').val('');
                if (_facTyp == "Agency") 
                    $('#facetAgency').val('');
                if (_facTyp == "Tags") 
                    $('#facetTags').val('');

                $('#norepostform').submit();
            });

            //function UpdateFacets(data) {
            //    var facetResultsHTML = '';
            //    for (var i = 0; i < data.length; i++) {
            //        facetResultsHTML += '<li><a href="javascript:void(0)" onclick="ChoosePostingTypeFacet(\'' + data[i].Value + '\');">' + data[i].Value + ' (' + data[i].Count + ')</span></a></li>';
            //    }

            //    $("#posting_type_facets").html(facetResultsHTML);
            //}

        });

    </script>
}
