@model EECIP.Models.vmDashboardProjectCard
@{
    ViewBag.Title = Model.project.PROJ_NAME;
    ViewBag.ShowBack = true;
}
<i class="clip-thumbs-up" style="font-size: 30px; color:forestgreen"></i> 5
<i class="clip-thumbs-up-2" style="font-size: 30px; color: red"></i> 3
<h3>Project Contact</h3>
<div class="row">
    <div class="col-md-3">
        <div class="div-card"></div>
    </div>
    <div class="col-md-6">
        <div class="div-card"></div>
    </div>
</div>


@if (Model.project != null)
{

<h3>Project Overview</h3>
<div class="row">
    <div class="col-md-6">
        <div class="div-card">

            <dl class="dl-horizontal">
                <dt>
                    Start Year:
                </dt>
                <dd>
                    @Model.project.START_YEAR
                </dd>
                <dt>
                    Year Most Recently Active:
                </dt>
                <dd>
                    @Model.project.DATE_LAST_UPDATE
                </dd>
                <dt>
                    Current Status:
                </dt>
                <dd>
                    @Model.project.PROJ_STATUS
                </dd>
                <dt>
                    Record Source:
                </dt>
                <dd>
                    @Model.project.RECORD_SOURCE
                </dd>
                <dt>
                    Last Updated:
                </dt>
                <dd>
                    @(Model.project.MODIFY_DT ?? Model.project.CREATE_DT)
               </dd>
                <dt>
                    Project URL:
                </dt>
                <dd>
                    @Model.project.PROJECT_URL
                </dd>
            </dl>
        </div>
    </div>
    <div class="clearfix visible-sm" ></div>

    <div class="col-md-6">
        <div class="div-card">
            <dl class="dl-horizontal">
                <dt>
                    Media:
                </dt>
                <dd>
                </dd>
                <hr />
                <dt>
                    Program Area(s):
                </dt>
                <dd>
                    @foreach (string pa in Model.SelectedProgramAreas)
                    {
                         @pa
                    }
                </dd>

            </dl>
        </div>
    </div>
    <div class="clearfix visible-sm"></div>
</div>


<h3>Project Description</h3>
<div class="row">
    <div class="col-md-12">
        <div class="div-card">
            <div id="desc">
                @Html.Raw(Model.project.PROJ_DESC)
            </div>
        </div>
    </div>
</div>

<h3>Project Details</h3>
<div class="row">
    <div class="col-md-12">
        <div class="div-card">
            <dl class="dl-horizontal">
                <dt>
                    Features:
                </dt>
                <dd>
                    @foreach (string pa in Model.SelectedFeatures)
                    {
                        <div class="select2-selection__choice">@pa</div> 
                    }
                </dd>
                <hr />
                <dt>
                    Commercial Off the Shelf/In House:
                </dt>
                <dd>
                    @Model.project.COTS
                </dd>
                <dt>
                    Business Process Modernization:
                </dt>
                <dd>
                    @Model.project.BP_MODERN_IND
                    @Model.project.BP_MODERN_DESC
                </dd>
                <dt>
                    Advanced Monitoring:
                </dt>
                <dd>
                    @Model.project.ADV_MON_IND
                    @Model.project.ADV_MON_DESC
                </dd>
            </dl>
        </div>
    </div>
</div>

}



@section Scripts {
    @Scripts.Render("~/bundles/anchorme")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#desc').html(anchorme($('#desc').text(), { }));
        });
    </script>
}

