@model EECIP.Models.vmDashboardProjectCard
@{
    ViewBag.Title = Model.project.PROJ_NAME;
    ViewBag.SubTitle = Model.OrgName;
    ViewBag.ShowBack = true;
}
@if (Model.project != null)
{

<div class="row">
    <section class="col-sm-6">
        <section class="panel panel-default">
            <div class="panel-heading">
                Project Overview
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        Start Year:
                    </dt>
                    <dd>
                        @Model.project.START_YEAR
                    </dd>
                    <dt>
                        Year Most Recently Active:
                    </dt>
                    <dd>
                        @Model.project.DATE_LAST_UPDATE
                    </dd>
                    <dt>
                        Current Status:
                    </dt>
                    <dd>
                        @Model.project.PROJ_STATUS
                    </dd>
                    <dt>
                        Record Source:
                    </dt>
                    <dd>
                        @Model.project.RECORD_SOURCE
                    </dd>
                    <dt>
                        Project URL:
                    </dt>
                    <dd>
                        @Model.project.PROJECT_URL
                    </dd>
                    <dt>
                        Last Updated:
                    </dt>
                    <dd>
                        @Model.LastUpdatedUser
                        @(Model.project.MODIFY_DT ?? Model.project.CREATE_DT)
                    </dd>

                </dl>
            </div>
        </section>
    </section>

    <section class="col-sm-6">
        <section class="panel panel-default">
            <div class="panel-heading">
                Project Overview
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Media:</h4>
                        @if (Model.project.T_OE_REF_TAGS2 != null)
                        {
                            <div class="select2-selection__choice">@Model.project.T_OE_REF_TAGS2.TAG_NAME</div>
                        }


                        <hr />
                    </div>
                    <div class="col-md-6">
                        <h4>Likes:</h4>
                        <i class="clip-thumbs-up" style="font-size: 30px; color:forestgreen"></i> 5
                    </div>
                </div>
                <h4>Program Area(s):</h4>
                @foreach (string pa in Model.SelectedProgramAreas)
                {
                    <div class="select2-selection__choice">@pa</div>
                }

            </div>
        </section>
    </section>
</div>


<div class="row">
    <section class="col-sm-9">
        <section class="panel panel-default">
            <div class="panel-heading">
                Project Description
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="desc">
                    @Html.Raw(Model.project.PROJ_DESC)
                </div>
            </div>
        </section>
    </section>

    <section class="col-sm-3">
        <section class="panel panel-default">
            <div class="panel-heading">
                Project Contact
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                @Model.project.PROJECT_CONTACT
            </div>
        </section>
    </section>
</div>


<div class="row">
    <section class="col-sm-12">
        <section class="panel panel-default">
            <div class="panel-heading">
                Project Details
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                            <dl class="dl-horizontal">
                <dt style="width:30%">
                    Project Features:
                </dt>
                <dd>
                    @foreach (string pa in Model.SelectedFeatures)
                    {
                        <div class="select2-selection__choice">@pa</div> 
                    }
                </dd>
                <hr />
                <dt style="width:30%">
                    Commercial Off the Shelf/In House:
                </dt>
                <dd>
                    @Model.project.COTS
                </dd>
                <dt style="width:30%">
                    Business Process Modernization:
                </dt>
                <dd>
                    @if (Model.project.T_OE_REF_TAGS1 != null)
                    {
                        @Model.project.T_OE_REF_TAGS1.TAG_NAME
                    }
                    @Model.project.BP_MODERN_DESC
                </dd>
                <dt style="width:30%">
                    Is there a Mobile component?:
                </dt>
                <dd>
                    @if (Model.project.T_OE_REF_TAGS3 != null)
                    {
                        @Model.project.T_OE_REF_TAGS3.TAG_NAME
                    }
                    @Model.project.MOBILE_DESC
                </dd>
                <dt style="width:30%">
                    Involve Advanced Monitoring:
                </dt>
                <dd>
                    @if (Model.project.T_OE_REF_TAGS != null)
                    {
                        @Model.project.T_OE_REF_TAGS.TAG_NAME
                    }
                    @Model.project.ADV_MON_DESC
                </dd>
            </dl>


            </div>
        </section>
    </section>
</div>


}



@section Scripts {
    @Scripts.Render("~/bundles/anchorme")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#desc').html(anchorme($('#desc').text(), { }));
        });
    </script>
}

