@using EECIP.App_Logic.BusinessLogicLayer
@model EECIP.Models.vmDashboardProjectDetails
@{
    ViewBag.Title = "Project Details";
    //ViewBag.SubTitle = "for " + Model.orgName;
}

@using (Html.BeginForm("ProjectEdit", "Dashboard", FormMethod.Post, new { @id = "norepostform", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.project.PROJECT_IDX)
    @Html.HiddenFor(model => model.ReturnURL)
    @Html.HiddenFor(model => model.NewProjInd)
    @Html.HiddenFor(model => model.NewProjOrgIDX)

    <div class="row ">
        <div class="col-sm-6 ">
            <section class="panel panel-default">
                <div class="panel-heading">
                    Project Overview
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">



                    @*@if (User.IsInRole("Admins"))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Organization</label>
                        @Html.DropDownListFor(model => model.project.ORG_IDX, Model.ddl_Agencies, "", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.project.ORG_IDX)
        }*@
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Project Name</label>
                                @Html.TextBoxFor(model => model.project.PROJ_NAME, new { @class = "form-control", @maxlength = "150" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Project Description</label>
                                @Html.TextAreaFor(model => model.project.PROJ_DESC, new { @class = "form-control", @rows = "7" })
                                @Html.ValidationMessageFor(model => model.project.PROJ_DESC)
                            </div>
                        </div>
                    </div>


                    <div class="table-responsive" style="max-height:700px;">
                        <table class="table table-striped m-b-none table-bordered" data-ride="datatables" style="margin-bottom:15px;">
                            <tr>
                                @if (Model.ProjectOrgs != null & Model.ProjectOrgs.Count > 1)
                                {
                                    <th></th>
                                }
                                <th>Agency 
                                @if (!Model.NewProjInd && !User.IsInRole("ReadOnly"))
                                {
                                <a id="btnAddAgency" href="@Url.Action("AddProjectOrg", "Dashboard", new { id = Model.project.PROJECT_IDX })" class="btn btn-primary btn-xs pull-right">Add Other Agencies</a>}
                                </th>
                            </tr>
                            @foreach (var item in Model.ProjectOrgs)
                            {
                                <tr>
                                    @if (Model.ProjectOrgs != null && Model.ProjectOrgs.Count > 1)
                                    {
                                        <td>
                                            <div class="delete-section" style="display:inline">
                                                <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                                                <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.ORG_IDX" data-delete-id2="@Model.project.PROJECT_IDX" data-delete-p="/ProjectOrgDelete"><b>Confirm Delete</b></div>
                                            </div>
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ORG_NAME)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Media</label>
                                @Html.DropDownListFor(model => model.project.MEDIA_TAG, Model.ddl_Media, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.project.MEDIA_TAG)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Program Area(s)</label>
                                @Html.ListBoxFor(model => model.SelectedProgramAreas, Model.AllProgramAreas, new { multiple = "multiple", @class = "form-control search-select" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Start Year</label>
                                @Html.TextBoxFor(model => model.project.START_YEAR, new { @class = "form-control", @maxlength = "4" })
                                @Html.ValidationMessageFor(model => model.project.START_YEAR)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Year Most Recently Active</label>
                                @Html.TextBoxFor(model => model.project.DATE_LAST_UPDATE, new { @class = "form-control", @maxlength = "4" })
                                @Html.ValidationMessageFor(model => model.project.DATE_LAST_UPDATE)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Current Implementation Status</label>
                                @Html.DropDownListFor(model => model.project.PROJ_STATUS, Model.ddl_Status, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.project.PROJ_STATUS)
                            </div>
                        </div>
                    </div>
                    <span class="help-inline col-sm-12"> <i class="clip-info"></i> Record source:  @Model.project.RECORD_SOURCE</span>
                    <span class="help-inline col-sm-12"> <i class="clip-info"></i> Data last updated: @(Model.project.MODIFY_DT ?? @Model.project.CREATE_DT)</span>
                </div>
            </section>
        </div>
        <div class="col-sm-6 ">
            <section class="panel panel-default">
                <div class="panel-heading">
                    Project Attributes
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tags (what aspects of this project would be of most interest to your peers in other agencies)</label>
                                @Html.ListBoxFor(model => model.SelectedFeatures, Model.AllFeatures, new { multiple = "multiple", @class = "form-control search-select", @style = "display: block;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Commercial Off the Shelf (COTS)/In-House?</label>
                                @Html.DropDownListFor(model => model.project.COTS, Model.ddl_COTS, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.project.COTS)
                            </div>
                        </div>
                        <div id="cotsdesc" class="col-md-6" style="display: none;">
                            <div class="form-group">
                                <label>Vendor</label>
                                @Html.TextBoxFor(model => model.project.VENDOR, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Was business process modernization a part of this project?</label>
                                @Html.DropDownListFor(model => model.project.BP_MODERN_IND, Model.ddl_UseAmount, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.project.BP_MODERN_IND)
                            </div>
                        </div>
                        <div id="bpdesc" class="col-md-6" style="display: none;">
                            <div class="form-group">
                                <label>Describe</label>
                                @Html.TextBoxFor(model => model.project.BP_MODERN_DESC, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is there a mobile component?</label>
                                @Html.DropDownListFor(model => model.project.MOBILE_IND, Model.ddl_UseAmount, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.project.MOBILE_IND)
                            </div>
                        </div>
                        <div id="mobiledesc" class="col-md-6" style="display: none;">
                            <div class="form-group">
                                <label>Describe</label>
                                @Html.TextBoxFor(model => model.project.MOBILE_DESC, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Does this involve advanced monitoring?</label>
                                @Html.DropDownListFor(model => model.project.ADV_MON_IND, Model.ddl_UseAmount, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.project.ADV_MON_IND)
                            </div>
                        </div>
                        <div id="advmondesc" class="col-md-6" style="display: none;">
                            <div class="form-group">
                                <label>Describe</label>
                                @Html.TextBoxFor(model => model.project.ADV_MON_DESC, new { @class = "form-control", @maxlength = "100" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="divurl">
                                    @if (!User.IsInRole("ReadOnly"))
                                    {
                                        <input id="btnAdd" type="button" value="Add Project URL(s)" class="btn btn-sm" onclick="AddProjectURL();" />
                                        <i class="clip-question-2 input-tooltip popovers" data-content="Provide a link to the project's website or documentation" data-placement="left" data-trigger="hover" data-rel="popover" data-original-title=""></i>
                                    }
                                    <br /><br />
                                    @for (var i = 0; i < Model.sProjectUrlList.Count(); i++)
                                    {
                                        <div class="row urlrow">
                                            <div class="col-md-5">
                                                <label>Project URL</label>
                                                @Html.TextBoxFor(modelItem => Model.sProjectUrlList[i].PROJECT_URL, new { @class = "form-control projurl", @maxlength = "200" })
                                            </div>
                                            <div class="col-md-5">
                                                <label>Description</label>
                                                @Html.TextBoxFor(modelItem => Model.sProjectUrlList[i].PROJ_URL_DESC, new { @class = "form-control projurldesc" })
                                            </div>
                                            <div class="col-md-2" style="padding-top: 25px;">
                                                <a href="#" onclick="RemoveTextBox(this);">Remove</a>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row aligned-row">
        <section class="col-md-6 ">
            <section class="panel panel-default @(Model.NewProjInd == false && (Model.project.PROJECT_CONTACT_IDX == null && String.IsNullOrEmpty(Model.project.PROJECT_CONTACT)) && !Model.governanceInd ? "danger" : "") ">
                <div class="panel-heading">
                    Project Contact
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    @if (Model.NewProjInd == false && (Model.project.PROJECT_CONTACT_IDX == null && String.IsNullOrEmpty(Model.project.PROJECT_CONTACT)) && !Model.governanceInd)
                    {
                        <div class="alert alert-block alert-danger fade in">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            <h4 class="alert-heading">Claim this Project!</h4>
                            <p>
                                Help other agencies get in touch with you by selecting a project contact from the list below.
                            </p>
                        </div>
                    }

                    @if (!Model.governanceInd)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Select user below:</label>
                                    @Html.DropDownListFor(model => model.project.PROJECT_CONTACT_IDX, Model.ddl_AgencyUsers, "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (Model.governanceInd)
                                {
                                    <label>Governance group contact:</label>
                                }
                                else
                                {
                                    <label>Or if user doesn't have an EECIP account, enter contact info here:</label>
                                }
                                @Html.TextBoxFor(model => model.project.PROJECT_CONTACT, new { @class = "form-control", @maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.project.PROJECT_CONTACT)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="col-md-6 aligned-row">
            <section class="panel panel-default">
                <div class="panel-heading">
                    Project Files
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    @if (!User.IsInRole("ReadOnly"))
                    {
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 topiccategory">
                                <div class="form-group createuploadfiles">
                                    @Html.LabelFor(x => x.files)
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-file">
                                                Browse <input type="file" name="files" id="files" value="">
                                            </span>
                                        </span>
                                        <input id="filename1" type="text" class="form-control" readonly="">
                                    </div>
                                    @Html.ValidationMessageFor(x => x.files)
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    @Html.TextBoxFor(model => model.FileDescription, new { @class = "form-control", @maxlength = "200" })
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.files_existing != null && Model.files_existing.Count > 0)
                    {
                        <div class="postuploadedfilesholder clearfix col-md-12">
                            <p>Attached Files</p>
                            @{
                                int i = 0;
                            }

                            @foreach (var file in Model.files_existing.OrderByDescending(o => o.CREATE_DT))
                            {
                                <ul>
                                    <li>
                                        @Html.HiddenFor(modelItem => Model.files_existing[i].DOC_IDX)

                                        <a class="fileupload" href="@Url.Action("ProjectFileDownload", "Dashboard", new { id = Model.files_existing[i].DOC_IDX })">
                                            @if (Utils.FileIsImage(Model.files_existing[i].DOC_NAME))
                                            {
                                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                            }
                                        </a>
                                        <a href="@Url.Action("ProjectFileDelete", "Dashboard", new { id = Model.files_existing[i].DOC_IDX })" class="deleteupload" title="Delete">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>

                                        <a href="#" class="btn btn-rounded btn-xs descinfo" title="Edit">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                        </a>
                                        <div class="postedfilename">
                                            @Html.DisplayFor(modelItem => Model.files_existing[i].DOC_NAME)

                                        </div>
                                        <div id="divHideOnEdit">
                                            @Html.DisplayFor(modelItem => Model.files_existing[i].DOC_COMMENT)
                                        </div>
                                        <div id="divShowOnEdit" style="display:none;">
                                            @Html.EditorFor(modelItem => Model.files_existing[i].DOC_COMMENT, new { @class = "form-control", @maxlength = "200" })
                                        </div>

                                    </li>
                                </ul>
                                i++;
                            }

                        </div>
                    }
                </div>
            </section>
        </section>

    </div>

    <div class="row">
        <div class="col-md-12">
            @if (!User.IsInRole("ReadOnly"))
            {
                <button id="btnSave" disabled type="submit" name="submitButton" value="Save" class="btn btn-primary">Save</button>
            }
            <a href="@Url.Action(Model.ReturnURL, "Dashboard")" class="btn btn-default">Close</a>

            @if (!User.IsInRole("ReadOnly"))
            {
                if (Model.project.PROJ_NAME != null)
                {
                    <div class="delete-section" style="display:inline">
                        <a class=" btn btn-danger delete-link">Delete Project</a>
                        <div class="btn btn-warning delete-confirm" style="display:none" data-delete-id="@Model.project.PROJECT_IDX" data-delete-p="/Dashboard/ProjectsDelete" data-success-url="/Dashboard/Index"><b>Confirm Delete</b></div>
                    </div>
                }
            }
        </div>
    </div>
    <p></p>
}

@section Scripts {
    @Scripts.Render("~/bundles/confirmdelete")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/areyousure")

    <script type="text/javascript">
        $(document).ready(function () {

            //warn user if leaving unsaved page
            $('form').areYouSure();
            $('form').on('dirty.areYouSure', function () {
                $("#btnSave").prop("disabled", false);
                $("#btnAddAgency").fadeOut(400);
            });
            $('form').on('clean.areYouSure', function () {
                $("#btnSave").prop("disabled", true);
                $("#btnAddAgency").show();
            });


            $('a.descinfo').click(function () {
                var dad = $(this).parent().parent();
                dad.find("#divHideOnEdit").hide();
                dad.find("#divShowOnEdit").show().focus();
                return false;
            });

            //function to initiate Select2
            $(".search-select").select2({
                placeholder: "Select from list (or type in your own)",
                allowClear: true,
                tags: true,
                width: ''
            });

            //google analytics
            $("#norepostform").on("submit", function () {
                gtag("event", "edit", {
                    "event_category": "engagement",
                    "event_label": "Agency Project"
                });
            });

            //file upload display filename
            $("input[id='files']").change(function (e) {
                var $this = $(this);
                var FileSize = this.files[0].size / 1024 / 1024;
                if (FileSize > 20) {
                    $('#files').val('');
                    alert('Project files cannot exceed 20 MB');
                }
                else {
                    $("#filename1").val($this.val().split('\\').pop());
                }
            });

            //handling div visibility
            toggleDIV('#project_MOBILE_IND option:selected', '#mobiledesc', false);
            toggleDIV('#project_ADV_MON_IND option:selected', '#advmondesc', false);
            toggleDIV('#project_BP_MODERN_IND option:selected', '#bpdesc', false);
            toggleCOTS();

            $('#project_MOBILE_IND').change(function () {
                toggleDIV('#project_MOBILE_IND option:selected', '#mobiledesc', 'Mobile', true);
            });

            $('#project_ADV_MON_IND').change(function () {
                toggleDIV('#project_ADV_MON_IND option:selected', '#advmondesc', 'Advanced Monitoring', true);
            });

            $('#project_BP_MODERN_IND').change(function () {
                toggleDIV('#project_BP_MODERN_IND option:selected', '#bpdesc', 'Process Modernization', true);
            });

            $('#project_COTS').change(function () {
                toggleCOTS();
            });

            function toggleCOTS() {
                if ($('#project_COTS option:selected').text() == 'COTS' || $('#project_COTS option:selected').text() == 'Modified COTS' || $('#project_COTS option:selected').text() == 'Custom Built by Vendor') {
                    $('#cotsdesc').show();
                }
                else {
                    $('#cotsdesc').hide();
                }
            }

            function toggleDIV(a, b, c, d) {
                if ($(a).text() === 'Yes: Major Component' || $(a).text() === 'Yes: Minor Component') {
                    $(b).show();

                    if (d == true) {
                        var select = $('#SelectedFeatures');
                        var option = $('<option></option>').
                            attr('selected', true).
                            text(c).
                            val(c);
                        option.appendTo(select);
                        select.trigger('change');
                    }
                }
                else {
                    $(b).hide();
                }
            }
        });


        function RemoveTextBox(button) {
            $(button).parent().parent().remove();

            //refresh IDs
            var j = 0;
            $("#divurl").find(".urlrow").each(function (i) {
                console.log(j);
                $(this).find(".projurl").attr('id', 'sProjectUrlList_' + j + '__PROJECT_URL');
                $(this).find(".projurl").attr('name', 'sProjectUrlList[' + j + '].PROJECT_URL');
                $(this).find(".projurldesc").attr('id', 'sProjectUrlList_' + j + '__PROJ_URL_DESC');
                $(this).find(".projurldesc").attr('name', 'sProjectUrlList[' + j + '].PROJ_URL_DESC');
                j++;
            });
        }

        function AddProjectURL() {

            var m = $('#divurl input:last').attr('name');
            var index = 0;

            if (m != null && m.length > 0) {
                index = m.split('sProjectUrlList[')[1].replace('].PROJ_URL_DESC', '');
                index++;
            }

            var html = '<div class="row urlrow">' +
                '<div class="col-md-5">' +
                '    <label>Project URL</label>' +
                '    <input id=\"sProjectUrlList' + index + '_PROJECT_URL\" class=\"form-control\" type=\"text\" value=\"\" name=\"sProjectUrlList[' + index + '].PROJECT_URL\">' +
                '</div>' +
                '<div class="col-md-5">' +
                '     <label>Description</label>' +
                '     <input id=\"sProjectUrlList' + index + '_PROJ_URL_DESC\" class=\"form-control\" type=\"text\" value=\"\" name=\"sProjectUrlList[' + index + '].PROJ_URL_DESC\">' +
                '</div>' +
                '<div class="col-md-2" style="padding-top: 25px;">' +
                '     <a href="\#"\ onclick=\"RemoveTextBox(this)\">Remove</a>' +
                '</div></div>';

            $('#divurl').append(html);

            $('form').trigger('rescan.areYouSure');

        }
    </script>
}
