@model EECIP.App_Logic.DataAccessLayer.TopicOverviewDisplay

<div class="topicrow topicsticky-@(Model._topic.IsSticky.ToString().ToLower()) topiclocked-@(Model._topic.IsLocked.ToString().ToLower()) topicsolved-@(Model._topic.Solved.ToString().ToLower())">

    <div class="rowcreater hidden-xs">
        <a href="@Model._topic.MembershipUser_Id">
            @*<img src="@Model.Topic.User.MemberImage(SiteConstants.Instance.GravatarTopicSize)" alt="@Model.Topic.User.UserName">*@
        </a>
    </div>

    <div class="rowdetails">
        <p class="category categorysolved@(Model._topic.Solved.ToString().ToLower())" style=" "> <a href="#">Category Name</a></p>
        <h3>
            <a title="#" href="@Url.Action("ShowTopic", "Forum", new { slug = Model._topic.Slug })">
                @if (Model._topic.IsSticky)
                {
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                }
                @if (Model._topic.IsLocked)
                {
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                }
                @if (Model._topic.Poll != null)
                {
                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                }
                @Html.Raw(Model._topic.Name)
            </a>
        </h3>
        @*@if (Model.ShowUnSubscribedLink)
        {
            <p>
                <a href="#" class="emailunsubscription" data-id="@Model.Topic.Id" data-type="topic">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    @Html.LanguageString("Topic.UnSubscribe")
                </a>
            </p>
        }
        else if (Model.Topic.Tags.Any())
        {
            <div class="tagsinput clearfix">
                @foreach (var tag in Model.Topic.Tags)
                {
                    <span class="tag"><span><a href="@Html.Raw(tag.NiceUrl)">@Html.Raw(tag.Tag)</a></span></span>
                }
            </div>
        }*@

        <p class="topicrowfooterinfo">
            @*<a href="@Html.Raw(Model.LastPostPermaLink)">
                <img src="@Model.Topic.LastPost.User.MemberImage(SiteConstants.Instance.GravatarLatestBySize)" class="latestby" alt="@Model.Topic.LastPost.User.UserName">
            </a>*@
            <a href="#">Latest By</a>
            <a href="@Model.LastPostUserIDX">
                @Model.LastPostUserName
            </a>
            @Model.LastUpdateDatePretty
            <span class="stats topicanswers"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @Model.postCount</span>
            <span class="stats topicviews"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> @Model.Views</span>
            <span class="stats topicupvotes"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> @Model.upVoteCount</span>
            <span class="stats topicdownvotes"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> @Model.upVoteCount</span>
            @if (Model._topic.Solved)
            {
                <span class="stats topicsolved"><span class="glyphicon glyphicon-ok green-colour" aria-hidden="true"></span></span>
            }
        </p>

    </div>
</div>
