@model EECIP.Models.vmForumTopicCreate
@{
    ViewBag.Title = "Edit Post";
    ViewBag.ShowBack = true;
}

<div class="row">
    <div class="col-md-9">
        <div class="editpostholder">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
                @Html.Partial("CreateEdit_TopicPost", Model)

            }

        </div>
    </div>
    @Html.Partial("_CommonSideNav")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/select2")
<script type="text/javascript">
    $(document).ready(function () {

        //function to initiate Select2
        $(".search-select").select2({
            placeholder: "",
            allowClear: true,
            tags: true,
            width: ''
        });

    });

</script>
    }