@model EECIP.Models.vmForumLatestTopicsView

@Html.Partial("_SubNavigation")

<div class="row">
    <div class="col-md-9">
        @*@Html.Action("ListMainCategories", "Forum")*@

        <div class="latesttopics">

            @if (Model._topics != null)
            {
                foreach (var topic in Model._topics)
                {
                    Html.RenderPartial("_Topic", topic);
                }
            }

            @if (Model.numRecs > 10)
            {
                <ul class="pagination" id="pagination" style="margin:0px"></ul>
            }

        </div>
        @*@Html.Action("LatestTopics", "Forum")*@
    </div>

    @Html.Partial("_CommonSideNav")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/pagination")
    @Scripts.Render("~/bundles/introjs")

    <script type="text/javascript">
        $(function () {
            var _totalRec = @Model.numRecs;
            var _totalPages = Math.round(_totalRec / 10) + 1;
            var obj = $('#pagination').twbsPagination({
                initiateStartPageClick: false,
                totalPages: _totalPages,
                visiblePages: 10,
                startPage: @Model.currentPage,
                onPageClick: function (event, page) {
                    window.location.href = '@Url.Action("PostedIn", "Forum")?p=' + page;
                }
            });
        });
    </script>
    <script>
        function startIntro() {
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {
                        element: '.content-strip',
                        intro: "<h4>Data filters</h4>You can choose to view the latest dicscussion topics, or filter to only see topics you are currently following or topics in which you have posted."
                    },
                    {
                        element: '.categories-box',
                        intro: "<h4>Discussion Categories</h4>Discussions are divided into categories.<br/><b>Enterprise Services: </b>discuss what enterprise services are.<br/><b>Reading Resources/Book Club: </b>captures ideas for good reading resources for environmental professionals.<br/><b>Collaborators sought: </b>Place to post your ideas for collaborations with peers"
                    },
                    {
                        element: '.btn-lg',
                        intro: "<h4>New Discussion</h4>This will allow you to create a new discussion topic."
                    }
                ]
            });

            intro.start();
            //intro.start().oncomplete(function () {
            //    window.location.href = 'Forum/Create';
            //});
        }
    </script>
}

