<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="E-Enterprise Community Inventory Platform" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - E-Enterprise Community Information Platform</title>
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Content/Images/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="48x48" href="@Url.Content("~/Content/Images/favicon-48x48.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/Images/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/Images/favicon-16x16.png")">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    @Styles.Render("~/Content/styles")
    @RenderSection("customstyles", required: false)
    @Scripts.Render("~/bundles/modernizr")

    @if (IsSectionDefined("HeaderJS"))
    {
        @RenderSection("HeaderJS");
    }

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108934202-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-108934202-1');
    </script>

</head>
<body class=" @ViewBag.LeftMenuExpand">
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header pull-left">
                <!-- start: HEADER LOGO -->
                <a class="navbar-brand" href='@(Request.IsAuthenticated ? "/Dashboard" : "/Home")'>
                    <img src="~/Content/Images/seal.png" style="width:30px; float:left; padding-right:10px;" />
                    <span class="visible-xs visible-sm">EECIP</span>
                    <span class="hidden-xs hidden-sm">E-Enterprise Community Inventory Platform (EECIP)</span>
                </a>
            </div>
            <!-- start: XS MENU TOGGLER -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: whitesmoke;">
                <span class="glyphicon glyphicon-align-justify light-grey"></span>
            </button>

                <!-- start: RIGHT NAVIGATION BANNER (ACCOUNT STUFF)-->
            <div class="navbar-tools">

                <ul class="nav navbar-nav navbar-right pull-right" style="margin:0px !important">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Action("_PartialHeadNotification", "Shared")
                        <li>
                            <a  title="Invite others to join the EECIP and make it a better community!" href="mailto:?subject=Join the E-Enterprise Community Information Platform&body=@User.Identity.Name has invited you to the E-Enterprise Community Information Platform at http://13.82.106.55/">
                                <i class="clip-user-plus"></i>
                            </a>
                        </li>
                        <!-- start: USER DROPDOWN -->
                        <li class="dropdown current-user" style="float:left;">
                            <a data-toggle="dropdown" @*data-hover="dropdown"*@ class="dropdown-toggle" data-close-others="true" href="#">
                                <i class="clip-user-3"></i>
                                <span class="username hidden-xs"> @User.Identity.Name </span>
                                <i class="clip-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("UserProfile", "Account") ">
                                        <i class="glyphicon glyphicon-user"></i>&nbsp;My Profile
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="clip-exit"></i>
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER DROPDOWN -->
                    }
                    else
                    {
                        <li class="">
                            <a class="dropdown-toggle" href="@Url.Action("Login","Account")">
                                <i class="glyphicon glyphicon-cog"></i>
                                <span class="">Log In / Register</span>
                            </a>
                        </li>
                    }
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>

        </div>
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        @if (Request.IsAuthenticated)
        {
            <div class="navbar-content">
                <!-- start: LEFT MENU -->
                @Html.Partial("_LeftMenu")
                <!-- end: LEFT MENU -->
            </div>
        }
        <div class="main-content">
            <div class="container" style="min-height: 760px;">

                @if (!(ViewBag.HideTitle ?? false))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            @if (ViewBag.ShowBack == true)
                            {
                                <button type="button" class="btn btn-return pull-right" style="margin-top:20px;" onclick="history.go(-1);"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
                            }
                            @if (ViewBag.ShowBadge == true)
                            {
                                <div href="#modal-form"  class="badge-alert pull-right  modal-it" data-toggle="modal">
                                    <img src="/Content/Images/badges/recognised-post.png" alt="Badges" style="width:45px; margin-left:20px" />
                                    <p class="publicbadgenamedesc" style="font-size:10px;">@ViewBag.BadgeCount Badges Earned</p>
                                </div>
                            }
                            <!-- start: PAGE TITLE & BREADCRUMB -->
                            <div class="page-header">
                                <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
                                <div class="subsubheader">@ViewBag.SubSubTitle</div>
                            </div>
                            <!-- end: PAGE TITLE & BREADCRUMB -->
                        </div>
                    </div>
                }

                @RenderBody()
            </div>
        </div>
    </div>
    <!-- start: FOOTER -->
    <div class="footer clearfix" style="background-color:#e5e5e5 !important;">
        <div class="footer-inner">
            <a href="https://e-enterprisefortheenvironment.net">
                <img src="~/Content/Images/footer-logo.png" />
            </a>
            <a href="http://www.exchangenetwork.net/">
                <img src="~/Content/Images/footer-logo2-bw.png" />
            </a>
        </div>
        <div class="footer-items">
            <span class="go-top" style="margin-left:20px;"><i class="clip-chevron-up"></i></span>
        </div>
        <div class=" footer-items footer-right">
            <a href="@Url.Action("TermsAndConditions","Home")" >Terms & Conditions </a>
        </div>
        <div class=" footer-items footer-right">
            <a href="https://e-enterprisefortheenvironment.net/our-projects/inventory/" target="_blank">Contact </a> |
        </div>
        <div class=" footer-items footer-right">
            <a href="https://e-enterprisefortheenvironment.net/our-projects/inventory/" target="_blank">About</a> |
        </div>
    </div>
    <!-- end: FOOTER -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/clip-main")
    <script>
        jQuery(document).ready(function () {
            Main.init();
            $('[data-toggle="tooltip"]').tooltip();  
        });
    </script>
    @Html.Partial("_Alerts")
    @RenderSection("scripts", required: false)

</body>
</html>
