@model EECIP.Models.vmAdminRefTags
@{
    ViewBag.Title = "Tags";
    ViewBag.SubTitle = "Edit the tags that are used site wide.";
}

<!-- render the main content -->
@using (Html.BeginForm("RefTags", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-sm-1 control-label" for="form-field-1">
            Tag Category: 
        </label>
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.sel_tag_cat, Model.ddl_tag_cats, "", new { @class = "form-control", @onchange = "document.location.href = '/Admin/RefTags?selTag=' + this.options[this.selectedIndex].value;" })
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
@if (!string.IsNullOrEmpty(Model.sel_tag_cat))
{

        <section class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped m-b-none" data-ride="datatables">
                    <tr>
                        <th style="min-width: 70px;">Edit</th>
                        <th>Tag Name</th>
                        <th>Tag Category</th>
                        @*<th>User Created</th>*@
                    </tr>

                    @foreach (var item in Model.tags)
                    {
                        <tr>
                            <td>
                                <a href="#modal-form" class="btn btn-rounded btn-xs btn-info modal-it" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i></a>
                                <div class="delete-section" style="display:inline">
                                    <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                                    <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.TAG_IDX" data-delete-p="/Admin/RefTagsDelete"><b>Confirm Delete</b></div>
                                </div>

                                @Html.HiddenFor(modelItem => item.TAG_IDX)
                                @Html.HiddenFor(modelItem => item.TAG_NAME)
                                @Html.HiddenFor(modelItem => item.TAG_CAT_NAME)
                                @Html.HiddenFor(modelItem => item.USER_CREATE_IND)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TAG_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TAG_CAT_NAME)
                            @*</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.USER_CREATE_IND)
                            </td>*@
                        </tr>
                    }
                </table>
            </div>
        </section>
        <p>
            <a id="add-it" href="#modal-form" data-toggle="modal" class="add-it btn btn-rounded  btn-rounded btn-success"><i class="glyphicon glyphicon-plus"></i> Add New</a>
        </p>
}
    </div>
</div>



<!-- START MODAL FORM  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("RefTagEdit", "Admin", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.sel_tag_cat)
            @Html.HiddenFor(model => model.edit_tag_idx)

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="modal-tital">Edit Tag</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tag Name</label>
                                            @Html.TextBoxFor(model => model.edit_tag, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.edit_tag)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tag Category</label>
                                            @Html.TextBoxFor(model => model.sel_tag_cat, new { @class = "form-control", @readonly="readonly" })
                                            @Html.ValidationMessageFor(model => model.edit_tag)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="picLoc" type="submit" class="btn btn-sm btn-primary">Save</button>
                    <button type="submit" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END MODAL FORM -->


@section Scripts {
    @Scripts.Render("~/bundles/confirmdelete")

    <script type="text/javascript">
        $(document).ready(function () {
            //create an event when button is clicked to display modal
            $(".modal-it").click(function () {
                $('#edit_tag_idx').val($(this).parent('td').find('#item_TAG_IDX').val());
                $('#edit_tag').val($(this).parent('td').find('#item_TAG_NAME').val());
                $('#sel_tag_cat').val($('#sel_tag_cat'));
            });

            $(".add-it").click(function () {
                $('#edit_tag_idx').val(null);
                $('#edit_tag').val('');
                $('#sel_tag_cat').val('');
            });
        });
    </script>
}
