@model EECIP.Models.vmAccountLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "panel-body wrapper-lg", @id = "norepostform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- render the validation summary -->
    @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")


    <div class="form-group">
        <label class="control-label">Email</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg ", @type = "email", @placeholder = "", @data_required = "true" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        @Html.ActionLink("Forgot Password?", "ResetPassword", new object { }, new { @class = "pull-right m-t-xs", @style= "padding-top: 6px;" })

        @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg ", @type = "password", @placeholder = "" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-actions">
        <label for="remember" class="checkbox-inline hover">
            @Html.CheckBoxFor(m => m.RememberMe) Keep me signed in
        </label>
        <button type="submit" class="btn btn-primary pull-right">Login <i class="clip-arrow-right"></i></button>
    </div>

    <div class="line line-dashed"></div>
    <div class="new-account">
        Don't have an account yet?
        <a href="@Url.Action("Register", "Account")" class="register">Create an account</a>
    </div>
}

