@model EECIP.Models.vmAccountChangePassword
@{
    ViewBag.Title = "Set Permanent Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="panel-body wrapper-lg">

    <!-- render the validation summary -->
    @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")

    @using (Html.BeginForm("SetPermPassword", "Account", FormMethod.Post, new { @id = "norepostform" }))
    {
        <div class="form-group">
            <label class="">Old Password</label>
            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control input-lg ", @type = "password", @data_required = "true" })
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="form-group">
            <label class="">New Password</label>
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg ", @type = "password", @data_required = "true" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            <label class="">Confirm New Password</label>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-lg ", @type = "password", @data_required = "true" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn pull-right" onclick="history.go(-1);"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
    }

</div>
