@model EECIP.Models.vmAccountUserProfile
@{
    ViewBag.Title = "User Profile";
}

@using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "hbox stretch", @id = "norepostform", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserIDX)
    @Html.HiddenFor(model => model.uListInd)

    <div class="row aligned-row ">
        <div class="col-md-6">
            <section class="panel panel-default ">
                <div class="panel-heading">
                    Basic Info
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @placeholder = "", @maxlength = "40" })
                                        @Html.ValidationMessageFor(model => model.FName)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        @Html.TextBoxFor(model => model.LName, new { @class = "form-control", @placeholder = "", @maxlength = "40" })
                                        @Html.ValidationMessageFor(model => model.LName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "", @maxlength = "150" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", data_format = "(ddd) ddd-dddd" })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone Ext</label>
                                        @Html.TextBoxFor(model => model.PhoneExt, new { @class = "form-control", @placeholder = "", @maxlength = "4" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <div class="btn-primary">
                                    @Html.TextBox("imageBrowes", "", new { type = "file" })
                                </div>
                                <hr />
                                @if (Model.HasAvatar == false)
    {
                            <div id="imgPreview" class="thumbnail" style="display:none">
                                <img class="img-responsive" id="targetImg" />
                                <div class="caption">
                                    <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                                    <span id="description"></span>
                                </div>
                            </div>
}
else
{
                            <div id="imgPreview" class="thumbnail" style="max-width:200px">
                                <img class="img-responsive" id="targetImg" src="~/Content/Images/Users/@(Model.UserIDX).png" />
                                <div class="caption">
                                    <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                                    <span id="description"></span>
                                </div>
                            </div>
}

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel panel-default ">
                <div class="panel-heading">
                    Professional Info
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Agency</label>
                                @Html.DropDownListFor(model => model.OrgIDX, Model.ddl_Agencies, "-Please Select-", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FName)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Job Title</label>
                                @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control", @placeholder = "", @maxlength = "40" })
                                @Html.ValidationMessageFor(model => model.JobTitle)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>LinkedIn</label>
                                @Html.TextBoxFor(model => model.LinkedIn, new { @class = "form-control", @placeholder = "", @maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.LinkedIn)
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form-field-select-4">Expertise</label>
                                @Html.ListBoxFor(model => model.SelectedExpertise, Model.AllExpertise, new { multiple = "multiple", @id = "form-field-select-4", @class="form-control search-select" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form-field-select-4">Node Admin</label>
                                @Html.CheckBox("NodeAdmin", Model.NodeAdmin ?? false, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    
    if (Model.uListInd == "a")
    {
        <a class="btn btn-default" href="@Url.Action("Users", "Admin")">Close @TempData["Error"]</a>
    }
    else
    {
        <a class="btn btn-default" href="@Url.Action("Index", "Dashboard")">Close</a>
        <a class=" btn btn-orange pull-right" href="@Url.Action("SetPermPassword" )">Change Password</a>
    }
    <button type="submit" class="btn btn-primary">Save</button>

}



@section Scripts {
    @Scripts.Render("~/bundles/select2")


    <script type="text/javascript">
        $(document).ready(function () {

            //function to initiate Select2
            $(".search-select").select2({
                placeholder: "Select expertise",
                allowClear: true,
                tags: true
            });

            //avatar handling
            $("#imageBrowes").change(function () {
                var File = this.files;
                if (File && File[0]) {
                    ReadImage(File[0]);
                }
            })

        });

        //avatar handling
        var ReadImage = function (file) {

            var reader = new FileReader;
            var image = new Image;

            reader.readAsDataURL(file);
            reader.onload = function (_file) {

                image.src = _file.target.result;
                image.onload = function () {

                    var height = this.height;
                    var width = this.width;
                    var type = file.type;
                    var size = ~~(file.size / 1024) + "KB";

                    $("#targetImg").attr('src', _file.target.result);
                    $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                    $("#imgPreview").show();

                }

            }

        }

        var ClearPreview = function () {
            $("#imageBrowes").val('');
            $("#description").text('');
            $("#imgPreview").hide();

        }

    </script>
}

